#arrier{
            margin-top: -10px;
            width: 1024px;
            height: 768px;
            background-color: #FFFFFF;
            margin-right: 140px;
        }
#head{
            margin-top: -5px;
            width: 1024px;
            height: 100px;
            /*background-image: linear-gradient(to bottom, blue, #AFAFAF 100% );*/
            margin-left: 0px;
            
            
           
        }
        /*#head p{
                text-align: center;
                font-size: large;
                line-height: 90px;
                color: white;
                font-size: 30px;
        }*/
#menu{
            
            width: 1024;
            height: 50px;
            position: relative;
            background-image: linear-gradient(to bottom, #E5E3E3 5%, blue );
            margin-top: -16px;
            
        }
        #menu ul{
                  list-style: none;
        }
        #menu ul li{
                
                float: right;
                width: 140px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                
        }
        #menu ul li a{
                color: #fff;
                text-decoration: none;
                display: block;
                font-style: italic;
                font-size: large;
                border-right: 20px;
                
        }
        #menu ul li a:hover{
                
                color: #F42116;
                
        }
        
        
        .menu1 ul{
                        
        }
        
        .menu1 ul li{
                   margin-right: -45px;
                   background-image: radial-gradient(circle, blue 0%, white 100%);
                   display: none;
                   animation: ann1 10ms ease;
        }
        .menu1 ul li a{
                        color: white;
                        font-style: italic;
                        
        }
        
        .menu1 ul li a:hover{
                        color: #F42116;
                        font-style: italic;
                       
        }
        
        #menu ul li:hover ul li {
                        display: block;
                        
        }
        
        @keyframes ann1  {
                        0%{
                                /*transform: scale(2,2) rotatex(90deg)*/
                                transform : scale(0.3) translateY(-60px) 
                       }
                        100%{
                                /*transform: scale(1,1) rotate(0deg)*/
                                transform :scale(1) translateY(0px) 
                        }
        }
        
#right{
            width: 200px;
            height: 600px;
            background-color: #C7D7FC;
            border-radius: 20px;
            float: right;
            
        }
        #right #right_menu{
                width: 200px;
                height: 330px;
                background-color: #C7D7FC;
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_1{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        
        #right #right_menu #right_menu_1 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
                
        }
         #right #right_menu #right_menu_2{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_2 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
         #right #right_menu #right_menu_3{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_3 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
         #right #right_menu #right_menu_4{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_4 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
         #right #right_menu #right_menu_5{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_5 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
         #right #right_menu #right_menu_6{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_6 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
        
         #right #right_menu #right_menu_7{
                margin-top: 5px;
                width: 200px;
                height: 40px;
                background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
                float: right;
                border-radius: 20px;
        }
        #right #right_menu #right_menu_7 p{
                
                text-align: center;
                font-size: 15px;
                color: white;
        }
        #right #right_menu #right_menu_1 p:hover,
        #right #right_menu #right_menu_2 p:hover,
        #right #right_menu #right_menu_3 p:hover,
        #right #right_menu #right_menu_4 p:hover,
        #right #right_menu #right_menu_5 p:hover,
        #right #right_menu #right_menu_6 p:hover,
        #right #right_menu #right_menu_7 p:hover{
                color: #FC432A;
        }
        
        
       /* #right #right_image{
                margin-top: 5px;
                width: 200px; 
                height: 260px ;
                background-color: white;
                margin-right: 0px;
                float: right;
                border-radius: 20px;
        }*/
        
#left{
            width: 200px;
            height: 600px;
            background-color: #C7D7FC;
            float: left;
            border-radius: 20px;
        }
        #left #left_inscription{
                margin-top: 5px;
                width: 175px; 
                height: 130px ;
                background-image: linear-gradient(to top, #E5E3E3 5%, #5353F4 );
                float: right;
                padding-right: 20px;
                color: #FCFCFC;
                border-radius: 10px;
                
        }
       
        /*#left #left_image{
                margin-top: 5px;
                width: 195px; 
                height: 456px ;
                background-color: white;
                float: right;
                border-radius: 20px;
                
        }*/
#contenu{
            margin-top: -0px;
            width: 624px;
            height: 600px;
            background-color: #FFFFFF;
            margin-right: 200px;
            border-radius: 20px
        }
        #contenu #contenu_header{
                margin-top: 5px;
                width: 605px;
                height: 50px;
                background-image: radial-gradient(circle, #1927EA 0%, #00d4ff 100%);
                float: right;
                margin-right: 10px;
                border-radius: 10px;
        }
                #contenu #contenu_header #p1{
                float: right;
                padding-right: 10px;
                color: white;
                font-size: large;
                animation: annimationtexte1 2s  infinite;
                overflow: hidden;
                white-space: nowrap;
                }
                #contenu #contenu_header #p2{
                float: left;
                padding-left: 10px;
                color: white;
                font-size: large;
                animation: annimationtexte2 5s steps(100) 3s infinite;
                overflow: hidden;
                white-space: nowrap;
                }
        
        @keyframes annimationtexte1{
                0%{
                   width: 0ch;   
                }
                100%{
                    width: 30ch;
                }       
        }
        @keyframes annimationtexte2{
                0%{
                   width: 0ch;   
                }
                50%{
                    width: 30ch;
                }
                100%{
                    width: 30ch;
                }       
        }
        
        #contenu #contenu_limite{
                margin-top: 5px;
                width: 605px;
                height: 535px;
                background-color: #FFFFFF;
                float: right;
                margin-right: 10px;
                border-radius: 20px;
                
        }
        #contenu #contenu_limite #contenu_limite_section1{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle, #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-right: 90px;
                float: right;
                border-radius: 15px;
        }
        
        #contenu #contenu_limite #contenu_limite_section1 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
        
         #contenu #contenu_limite #contenu_limite_section2{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle,  #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-left: 90px;
                float: left;
                border-radius: 15px;
        }
        #contenu #contenu_limite #contenu_limite_section2 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
         #contenu #contenu_limite #contenu_limite_section3{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle,  #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-right: 90px;
                float: right;
                border-radius: 15px;
        }
        #contenu #contenu_limite #contenu_limite_section3 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
        #contenu #contenu_limite #contenu_limite_section4{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle,  #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-left: 90px;
                float: left;
                border-radius: 15px;
        }
        #contenu #contenu_limite #contenu_limite_section4 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
        
         #contenu #contenu_limite #contenu_limite_section5{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle,  #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-right: 90px;
                float: right;
                border-radius: 15px;
        }
        #contenu #contenu_limite #contenu_limite_section5 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
        #contenu #contenu_limite #contenu_limite_section6{
                width: 200px;
                height: 100px;
                background-image: radial-gradient(circle,  #D3D3D3 0%, #E8EDF4 90%);
                margin-top: 30px;
                margin-left: 90px;
                float: left;
                border-radius: 15px;
        }
        #contenu #contenu_limite #contenu_limite_section6 p{
                color: blue;
                text-align: center;
                padding-top: 20px;
                font-size: large;
        }
         #contenu #contenu_limite #contenu_limite_section1 p:hover,
        #contenu #contenu_limite #contenu_limite_section2 p:hover,
        #contenu #contenu_limite #contenu_limite_section3 p:hover,
        #contenu #contenu_limite #contenu_limite_section4 p:hover,
        #contenu #contenu_limite #contenu_limite_section5 p:hover,
        #contenu #contenu_limite #contenu_limite_section6 p:hover
        {
                color: #FC432A;
        }
#pied{
            margin-top: 0px;
            width: 1024px;
            height: 20px;
            background-color: red;
        }
        #pied #pied_right{
            width: 524px ;
            height: 20px ;
            background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
            float:right;
            
        }
        #pied #pied_left{
            width: 500px ;
            height: 20px ;
            background: green;
            float: left;
            background-image: radial-gradient(circle, #263BF2 0%, #00d4ff 100%);
            
        }
       #pied #pied_right p{
                float: right;
                margin-top: 0px;
                color: white;
                font-size: large;   
        }
        #pied #pied_right a{
                text-decoration: none;
                margin-top: 0px;
                color: white;
                font-size: large;   
        }
        #pied #pied_left p{
                float: left;
                margin-top: 0px;
                color: white;
                font-size: large;
                
        }
